html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: hsl(212, 23%, 69%);
}

.main {
  display: flex;
  flex-direction: row;
}

.component {
  background-color: hsl(210, 46%, 95%);
  display: flex;
  flex-direction: row;
  /* width: 732px;
    height: 277px; */
}