
.main {
  display: flex;
  flex-direction: row;
  background-color: red;
}

.component {
  background-color: hsl(210, 46%, 95%);
  display: flex;
  width: 730px;
  height: 230px;
}
.image {
  display: flex;
  flex-direction:row;
}

.content-box {
  display: flex;
  flex-direction: row;
  background-color: yellow;

}

.content-info {
  display: flex;
  flex-direction: column;
  background-color: green;
}